body, h1, h2, button, ul, li {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: red;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em 0;
}

li {
  display: inline;
  margin: 0 0.5em;
  padding: 0.5em;
}

h2 {
  color: #67b5ee;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

h1 {
  background-color: #222222;
  color: white;
  padding: 0.25em;
  border-radius: 0.25em;
  margin: 5em 0 1em;
}

#color {
  color: #48a5e8;
  text-transform: capitalize;
}

button {
  background-color: red;
  padding: 0.5em 1em;
  border: 2px solid #222;
  border-radius: 0.25em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
}

.selected {
  background-color: lightgray;
  border-radius: 50%;
}
